.section_add_product {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding: 2rem 5%;
  }
  
  .container_add_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .form_container_add_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .titulo_add_product {
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .form__producto {
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }
  
  .form__producto>label {
    display: block;
    margin-bottom: 10px;
    
  }
  
  .form__producto>input, 
  .form__producto>select, 
  .form__producto>textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
   
    font-size: 16px;
  }
  
  .form__producto>textarea {
    resize: vertical;
  }
  
  .add__producto{
    background-color: #2A7AE4;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 25%;
  }
  
  .add__producto:hover {
    background-color: #1A558E;
  }
  
  